/*Common style settings*/
body {
  text-align: center;
  font-family:helvetica;
}
#menu, #designed {
  background-image: url("../images/the-flatiron-building.png");
  background-position: center;
}

/*setting individual element styles*/
h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}
ul{
  font-size: 18px;
  color: white;
  text-decoration: underline;
  list-style: none;
}
h2 {
  font-size: 32px;
  font-weight: bold;
}
h3{
  font-size: 23px;
  font-weight: bold;
}
p {
  font-size: 14px;
}

/*setting individual ID styles*/
#designed {
  color: white;
}
#footer {
  background-color: dimgray;
  text-align: left;
}
#copyright {
  font-size: 11px;
  color: white;
}
#footerList li{
  display: inline;
}
